//colors
$ask: #F15E22;
$give: #048499;


html, body{
    height:100%;
    width:100%;
}

.container-fluid{
    padding:0;
}

.navbar {
    padding:15px;
    border-radius:0;
    z-index:12;
    position:absolute;
}

.moveUp{
    top:-100px;
}

.bg-ask{
  background-color: $ask;
  width:50%;

}

.bg-give{
  background-color: $give;
  width:50%;
}

.containerTable{
    display:table;
    height:100%;
    width:100%;
}

.tableCell{
    display:table-cell;
    height:100%;
}

.test{

}

header{
    z-index:1;
    position: relative;
}


// Media Queries
/*@media (max-width: 768px) 
    { .tableCell{ display:table-row; height:50%;}  }*/
@media (min-width: 768px) { }
@media (min-width: 992px) {  }
@media (min-width: 1200px) {  }